
body {
    height: 100%;
}

.all {
    display: none;
    background-color: rgb(250, 250, 250);
    width: 444px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.container {
    width: 444px;
    height: 100%;
}


.navbar ul li {
    display: inline-block;
}

header .container img {
    width: 800px;
    /* height: 200px; */
}

.search .container form input {
    width: 382px;
    outline: none;
    border-radius: 25px;
    position: relative;
    border: none;
    font-size: 15px;
    padding: 5px;
    padding-left: 20px;
    transition: all 1;
    /* box-shadow: rgba(185, 185, 185, 0.15) 1.95px 1.95px 2.6px; */
}


.search .container form button {
    border-radius: 25px;
    background-color: #FFC700;
    color: white;
    border: none;
    font-size: 15px;
    width: 30px;
    height: 30px;
    transition: all 0.3s;
    /* box-shadow: rgba(185, 185, 185, 0.15) 1.95px 1.95px 2.6px; */
}

.search .container form button:hover {
    color: #FFC700;
    background-color: white;
}

.banner img {
    width: 800px;
    height: 200px;
    object-fit: cover;
}

/* .menu-product {
    background-color: tomato;
} */

.horizontal_slider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    padding: 20px;
    box-sizing: border-box;

}

/*this is for chrome / firefox/ opera and safari*/
.horizontal_slider::-webkit-scrollbar {
    display: none;
}

/* for ms*/
.horizontal_slider {
    -ms-overflow-style: none;
}

.slider_container {
    display: block;
    white-space: nowrap;
}

.slider_container a {
    text-decoration: none;
}



.item {
    display: inline-block;
    margin-right: 10px;
    /* background-color: #eee; */
    border-radius: 5px;
    /* box-shadow: rgba(185, 185, 185, 0.15) 1.95px 1.95px 2.6px; */
    cursor: pointer;
}


.item span {
    font-weight: bold;
}

.item .img-product {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.product {
    margin-bottom: 3em;
}

.link-active {
    border-bottom: 2px solid black;

}

.bounce {
    animation: bounce 1s linear;
}

.bg-orange {
    background-color: #FFC700;
}

.shadow-c {
    box-shadow: rgba(185, 185, 185, 0.15) 1.95px 1.95px 2.6px;
}


.header-back a {
    padding: 20px 10px;
    text-decoration: none;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.header-back a:hover {
    color: rgb(85, 85, 85);
}


.loader {
    width: 444px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: #FFC700;
    /* position: absolute; */
}

.loader>div {
    height: 50px;
    width: 50px;
    border: 8px solid #FFC700;
    border-top-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}


.data-orders a {
    text-decoration: none;
}

.data-orders a .row  .img-order img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}



@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    20%,
    50%,
    80%,
    to {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    70% {
        transform: translateY(-5px);
    }

    90% {
        transform: translateY(-3px);
    }
}

/* koe media screen ini responsif */
@media screen and (max-width: 500px) {
    .container {
        width: 100%;
    }

    .search .container form input {
        width: 100%;
    }

    .search .container form button {
        display: none;
    }

    .banner img {
        width: 50em;
    }

    .all {
        width: 100%;
    }
    .loader {
        width: 100%;
    }

}
